<div>
  <input type="file" id="import-file" class="btn btn-primary" (change)="fetchData($event)">
</div>

<!-- <app-chart></app-chart> -->

<!-- <app-bar-chart *ngIf="convertedJSON" [convertedJSON]="convertedJSON"></app-bar-chart> -->
<app-bar-chart *ngIf="passingDataTwo" [passingDataTwo]="passingDataTwo"></app-bar-chart>
<app-bar-chart-case *ngIf="passingDataOne" [passingDataOne]="passingDataOne"></app-bar-chart-case>
<app-pie-chart *ngIf="passingData" [passingData]="passingData"></app-pie-chart>

